@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root {
    --side: 16;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.square-div{
    height: calc(100vh / var(--side));
    width: calc(100vh / var(--side));
    background-color: rgb(255, 255, 255);
    transition: all 0.1s;
}

.square-div:hover{
    background-color: rgb(98, 23, 23);
}